﻿@using Microsoft.Extensions.Localization
@using BlazorApp1.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.@localizer["RES_HELLO"]
