@using BlazorApp1.Locales

@inject NavigationManager NavManager
@inject IStringLocalizer<Resources> localizer
@inject ILocalStorageService _localstorage
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>
                @*Placeholder for the Constant String for specific Culture read from Resources files*@

                @localizer["selectculture"]
            </td>
            <td>
                <select class="form-control" @bind="UICulture" style="width:400px; margin-left:10px;">
                    @foreach (var culture in uicultutes)
                    {
                        <option value="@culture">@culture.DisplayName</option>
                    }
                </select>
            </td>
        </tr>
    </tbody>
</table>


@code {
    CultureInfo[] uicultutes = new[]
    {
        // default cultures supported by the applciation
        new CultureInfo("en-US"),
        new CultureInfo("pt-PT")
    };
    CultureInfo UICulture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                // Set the culture in LocalStorage
                _localstorage.SetItemAsync("currentcuture", value.Name);

                // Load the Current URL
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}